
@media (max-width: 650px) {
    .home-page-section-1.container { 
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img-area,
    .text-area {
        width: 100% !important; 
}

}
@media (max-width: 640px) {
    .home-page-section-3.container .cards {
        display: flex;
        gap: 20px;
    }

    .home-page-section-3.container .cards .card {
        width: calc((100% - (20px * (3 - 1))) / 3);
    }
}

@media (max-width: 627px) {
    .home-page-section-5.container .my_recipes ul {
        display: flex;
        gap: 20px;
    }

    .home-page-section-5.container .my_recipes ul li {
        width: calc((100% - (20px * (3 - 1))) / 3);
    }
}
@media (max-width: 446px) {


    .home-page-section-5.container .my_recipes ul {
        display: flex;
        gap: 20px;
    }

    .home-page-section-5.container .my_recipes ul li {
        width: calc((100% - (20px * (2 - 1))) / 2);
    }
  
}


@media (max-width: 446px) {
    .full-width-section .text h1 {
        font-size: 40px; 
        line-height: 40px;
    }

    .full-width-section .text p{
        font-size: 20px; 
        padding-left: 30px;
        padding-right: 30px;
       
    }


    
}

@media (max-width: 525px) {
    .home-page-section-4.container .cards {
        display: flex;
        gap: 20px;
    }

    .home-page-section-4.container .cards .card {
        width: calc((100% - (20px * (1 - 1))) / 1);
    }
}




@media (max-width: 394px) {
    .subscribe{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .text span{
        display: none;
    }
    .home-page-section-1 .text-area {
        display: none;
    }

}
@media (max-width: 362px) {
    .home-page-section-2 .cards {
        flex-direction: column;
        gap: 20px;
    }

    .home-page-section-2 .card {
        width: 100% !important;
    }

    .home-page-section-3.container .cards {
        display: flex;
        gap: 20px;
    }

    .home-page-section-3.container .cards .card {
        width: calc((100% - (20px * (2 - 1))) / 2);
    }
}

@media (max-width:284px){
    .home-page-section-5.container .my_recipes ul {
        display: flex;
        gap: 20px;
    }

    .home-page-section-5.container .my_recipes ul li {
        width: calc((100% - (20px * (1 - 1))) / 1);
    }
}


