@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
}

.container {
  width: 1110px;
  max-width: 95%;
  margin: 0 auto;
}
/* 
footer {
  margin-bottom: 49px;
}

footer li a,
footer p,
footer span {
  color: var(--Fill-Dark-Gray, #7F7F7F);
  font-family: "Inter", sans-serif;
  font-family: "Inter";
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.footer {

  display: flex;
  justify-content: space-between;
  margin-bottom: 106px;


}

.footer .f-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 17.062px;
  width: 31%;
}

.footer .f-right-side {

  display: flex;
  justify-content: space-between;
}

.footer .f-right-side .f-col-1,
.footer .f-right-side .f-col-2,
.footer .f-right-side .f-col-3 {
  display: flex;
  height: 138px;
  padding-right: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}

.footer .f-right-side h5 {
  color: var(--Fill-Black, #000);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.f-end-row {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
}

.social {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;

}

.search_icon {
  width: 32px;
  height: 32px;
}


.nav-bar .nav-menu .nav-link {
  display: flex;
  gap: 48px;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.nav-bar .nav-menu .nav-link li a {
  color: black;
}

.nav-bar .nav-right-side {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}

#profile {
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  gap: 35px;

}

#search {
  font-size: 32px;
  margin: 10px 20px 0 0;
  /* top, right, bottom, left */



.rating {
  display: flex;
  gap: 12px;
}

.icons {
  display: flex;
  width: 96px;
  height: 32px;
  gap: 32px;
}

#header_text {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin: 20px 0 20px 0;
}

.meta {
  margin-bottom: 20px;
}

.meta ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

}

.recipe_info_menu ul li {
  border-right: 1px solid rgba(232, 232, 232, 1);

}

.meta ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: calc((100% - (30px * (4-1))) / 4);

}

.div_2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#save {
  cursor: pointer;
  font-size: 25px;
}

#bookmark {
  cursor: pointer;
  font-size: 25px;
}

#star {
  color: #FF642F;
}

#text {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin: 25px 0 25px 0;
}

.image {
  position: relative;
}
.image img{
  width: 100%;
}

#cake {
  border-radius: 12px;
  margin-top: 30px;
}

#play {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.recipe_info_menu {
  display: flex;
  margin-top: 50px;

}

.recipe_info_menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.recipe_info_menu ul img {
  cursor: pointer;
}

.recipe_info_menu ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid #7F7F7F;
  padding-right: 10px;
  width: calc((100% - (24px * (4-1))) / 4);
}

.recipe_info_menu ul li:last-child {
  border: none;
}

.texts {
  color: var(--Fill-Dark-Gray, #7F7F7F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.5px;
}

.texts2 {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.content_div {
  margin-top: 50px;
  display: flex;
flex-wrap: wrap;
gap: 98px;
}

.box1 {
  display: flex;
  gap: 48px;
  flex-direction: column;
width: calc(40% - 98px * 0.4);
}

.box2 {
  width: calc(60% - 98px * 0.6);
}




.content_div_texts {
  margin-bottom: 20px;
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 30PX - H6 */
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  /* 123.333% */

}

.box1_child_div_text {
  margin-bottom: 15px;
  margin-top: 15px;
  color: var(--Fill-Black, #000);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.box1_child_div ul li {
  display: flex;
  gap: 13px;
  align-items: center;
}

.box1_child_div ul li input {
  width: 20px;
  height: 20px;
  accent-color: #FF642F;
  cursor: pointer;

}

.box1_child_div ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.box1_child_div ul li label {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 18PX/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: -0.2px;
}

input[type="radio"]:checked+label {
  text-decoration: line-through;
  color: grey;
}

.box1_child_div2 ul li {
  display: flex;
  gap: 13px;
  align-items: center;
}

.box1_child_div2 ul {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.box1_child_div2 ul li input {
  width: 20px;
  height: 20px;
  accent-color: #FF642F;
  cursor: pointer;

}

.box1_child_div2 ul li label {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 18PX/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: -0.2px;
}

.content_div {
  width: 100%;
}

.box2_child_div ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.box2_child_div ul li {
  width: 100%;
  display: flex;

  gap: 16px;

}
.box2_child_div ul li {
    width: 100%;
  }

.circles {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF642F;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box2_child_div ul li .text4 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: left;

}

.box3_child_div ul {
  display: flex;
  flex-wrap: wrap;
  
  gap: 10px;
}

.box3_child_div ul li {
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.box3_left_text {
 
  color: #303030;
  font-feature-settings: 'liga' off, 'clig' off;

  /* 16PX/Light */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  /* 150% */
}

.box3_right_text {

  color: var(--Fill-Black, #000);
  text-align: right;
  font-feature-settings: 'liga' off, 'clig' off;

  /* 16PX/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.box3 {
  padding: 40px 18px 40px 18px;
  background-color: rgba(249, 249, 249, 1);
}

.box3_child_div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.part3 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 90px;
}

.part3 p {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  width: 100%;
  /* 60PX - H2 */
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  /* 120% */
}

.part3_btn {
  display: flex;
  padding: 13px 48px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Fill-Black, #000);
  color: var(--Fill-Black, #000);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;

  /* Button/Large */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
}

.part3_btn a {
  color: black;
}

.part3 hr {
  width: 100%;
  height: 11px;
  background: var(--Fill-Primary, #FF642F);
}

a {
  color: black;
}

#title_txt {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 60PX - H2 */
  font-family: "Playfair Display";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  /* 120% */
}

#number_text {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 24PX/Regular */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  /* 158.333% */
}

.comments_div {
  display: flex;
  align-items: end;
  gap: 10px;
}

.profile_name {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.name_time p {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 18PX/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */

}

.name_time span {
  color: var(--Fill-Dark-Gray, #7F7F7F);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 14PX/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  /* 164.286% */
}

.name_time {
  display: flex;
  flex-direction: column;
}

.coment {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  margin-bottom: 30px;
  /* 16PX/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.comment_buttons {
  padding: 21px 73px 21px 73px;
}

.comment_buttons ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.comment_buttons i {
  font-size: 15px;
  color: #7F7F7F;
}

.comment_buttons ul p {
  font-family: Inter;
  color: #7F7F7F;

}
.comment_buttons ul li{
  width: calc((100% - (24px * (3-1))) / 3);
}
.comment_buttons ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.load_more_btn button {
  display: inline-flex;
  padding: 13px 48px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--Fill-Black, #000);
  color: var(--Fill-Black, #000);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
  cursor: pointer;
}

.load_more_btn {
  width: 100%;
  display: flex;

  justify-content: center;
}

.write_title {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 30PX - H6 */
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  /* 123.333% */
}

.login_post span {
  color: var(--Fill-Primary, #FF642F);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 16PX/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  cursor: pointer;

}

.login_post p {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 16PX/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.title_login {
  display: flex;
  justify-content: space-between;

}

.login_post {
  display: flex;
  gap: 6px;

}

.write_comment {
  margin-top: 50px;
}

.comment_form {
  padding: 32px;
  border-radius: 6px;
  background: var(--Fill-Lightest-Gray, #F9F9F9);
  margin-top: 30px;
}

.comment_form textarea {
width: 100%;
  height: 250px;
  background: var(--Fill-Lightest-Gray, #F9F9F9);
  resize: none;
}
.comment_form ul li:first-child {
  width: 700px;
}
.comment_form button {
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
  padding: 13px 48px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--Fill-Primary, #FF642F);
  color: var(--Fill-White, #FFF);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  letter-spacing: -0.2px;
  border: hidden;
}

a {
  color: #FFF;
}

.comment_form ul {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: 90px;
  justify-content: space-between;
  
}

.comment_form_messeage{
  width: calc(75% - 90px * 0.75);
}
.comment_form_btn{
  width: calc(25% - 90px * 0.25);
}
.recipe_carts_div {
  margin-top: 50px;
}

.recipe_carts_div h2 {
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 36PX - H5 */
  font-family: "Playfair Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  /* 122.222% */
}

.carts_div {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.recipe_foto_div {
  margin-top: 30px;
  border-radius: 6px;
}

.recipe_cart {
  width: calc((100% - (30px * (4 - 1))) / 4);
}

.recipe_foto_div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.recipe_cart p {
  margin-top: 8px;
  color: var(--Fill-Black, #000);
  font-feature-settings: 'liga' off, 'clig' off;

  /* 18PX/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}

.inbox_content_div {
  background: var(--Primary-Light, #FFD7C9);
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.inbox_content_texts h3 {
  color: var(--Fill-Black, #000);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  /* 76PX - H1 */
  font-family: "Playfair Display";
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  /* 113.158% */
  width: 100%;
  letter-spacing: -1px;
}

.inbox_content_texts p {
  color: var(--Fill-Black, #000);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;

  /* 24PX/Regular */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  /* 158.333% */
}

.inbox_email_div {
  display: flex;
  width: 100%;
  height: 68px;
  padding: 2px;
  background-color: white;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.inbox_email_div input {
  color: var(--Fill-Dark-Gray, #7F7F7F);
  font-feature-settings: 'liga' off, 'clig' off;
  border: none;
  outline: none;
  /* 16PX/Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin-left: 20px;
  width: 100%;
}

.inbox_content_texts {
  max-width: 530px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.inbox_email_div button {
  display: flex;

  padding: 18px 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: hidden;
  background: var(--Fill-Primary, #FF642F);
  color: var(--Fill-White, #FFF);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}




.my_recipes ul{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.my_recipes ul li {
  width: calc((100% - (20px * (4 - 1))) / 4);
}

.my_recipes ul li img{
  width: 100%;
  border-radius: 6px;
}
.recipe_foto_div{
  height: 191px;
 
}

.my_recipes ul li p{
  color: var(--Fill-Black, #000);
font-feature-settings: 'liga' off, 'clig' off;

/* 18PX/Semibold */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 155.556% */
}
.my_recipes ul li p a{
  color: black;
}