{% extends "base.html" %}
{% load static %}
{% block body %}

  <link rel="stylesheet" href="{% static 'about.css' %}">
  <link rel="stylesheet" href="{% static 'about_responsive.css' %}">
 <section class="section_1 container">
        <h5>
            About
        </h5>

        <div class="underline"></div>

        <h2>
            We’re a group of foodies who love cooking and the internet
        </h2>
        <div class="photo">
            <img src="{% static './images/Image (1).png' %}" alt="">
        </div>
        <p>Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy dinners. One-pot
            low heat plenty of time adobo fat raw soften fruit. sweet renders bone-in marrow richness kitchen, fricassee
            basted pork shoulder. Delicious butternut squash hunk.</p>

    </section>


    <section class="section_2 container">
        <div class="left">
            <h2>Simple, Easy Recipes for all</h2>
            <p>Juicy meatballs brisket slammin' baked shoulder. Juicy smoker soy sauce burgers brisket. polenta mustard
                hunk greens. Wine technique snack skewers chuck excess. Oil heat slowly. slices natural delicious, set
                aside magic tbsp skillet, bay leaves brown centerpiece.</p>
        </div>
        <div class="right">
            <img src="{% static './images/Image 2.png' %}" alt="">
        </div>
    </section>

    <section class="section_3 container">
        <h2>An incredible team of talented chefs and foodies</h2>
        <div class="cards">
            <div class="card">
                <div class="photo"><img src="{% static '/images/chef1.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="{% static './images/chef2.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="{% static './images/chef3.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="{%  static './images/chef4.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>
            <div class="card">
                <div class="photo"><img src="{% static './images/chef5.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>
            <div class="card">
                <div class="photo"><img src="{% static './images/chef6.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>


            <div class="card">
                <div class="photo"><img src="{% static './images/chef7.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="{% static './images/chef8.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="{% static './images/chef9.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="{% static './images/chef10.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>
            <div class="card">
                <div class="photo"><img src="{% static './images/chef11.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>
            <div class="card">
                <div class="photo"><img src="{% static './images/chef12.png' %}" alt=""></div>
                <div class="text">
                    <p class="name">Ham Chuwon</p>
                    <p>Chef Extraordinaire</p>
                </div>
            </div>
        </div>
        <div class="text_area">
            <h5>Operatring from NYC, Dubai and London</h5>
            <p>Gastronomy atmosphere set aside. Slice butternut cooking home. Delicious romantic undisturbed raw platter
                will meld. Thick Skewers skillet natural, smoker soy sauce wait roux. slices rosette bone-in simmer
                precision alongside baby leeks. Crafting renders aromatic enjoyment.</p>

                <div class="underline">

                </div>
                <div class="social">
                    <img src="{% static './images/feather-icon/facebook.png' %}" alt="">
                    <img src="{% static './images/feather-icon/twitter.png' %}" alt="">
                    <img src="{% static './images/feather-icon/instagram.png' %}" alt="">
                   
                </div>
        </div>
    </section>

{% endblock body %}
   