{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'base_responsive.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header class="container">
    <div class="nav-bar">
        <div class="nav-logo">
            <img src="{% static 'images/logo.png' %}" alt="" id="desktop-logo">

            
        
            <div class="nav_dropdown">
                <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
                <div class="dropdown-contentt">
                    <a href="{% url 'home' %}">Homepage</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'catageory' %}">Categories</a>
                    <a href="{% url 'recipes' %}">Recipes</a>
                </div>
            </div>
        </div>


         {% comment %} <div class="dark_light">
                    <i class="fas fa-moon" id="moonIcon"></i>
                    <i class="fas fa-sun" id="sunIcon"></i>
            </div> {% endcomment %}
        
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-link" id="nav-links">
                <li><a href="{% url 'home' %}">Homepage</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'catageory' %}">Categories</a></li>
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <p>Recipe page <i class="fa-solid fa-chevron-down"></i></p>
                    <div class="dropdown-content">
                        <a href="{% url 'recipes' %}">Recipes</a>
                        <a href="{% url 'my_recipes' %}">My recipes</a>
                    </div>
                </div>
                {% else %}
                <li><a href="{% url 'account:register' %}">Sign up</a></li>
                {% endif %}
            </ul>

            <div class="search_div_c" id="search_div">
                <form action="/recipes/" method="get">
                {% csrf_token %}
                <input type="text" id="s_input" name="keyword" placeholder="Search...">
                    <hr>
                </form>
                <div id="results"></div>
            </div>
        </div>




        <div class="nav-right-side">
            <img src="{% static 'images/search.svg' %}" alt="" class="search_icon" id="search">
            {% if user.is_authenticated and user.userprofile.profile_image %}
                <a href="{% url 'profile' %}"><img id="user_profile_img" src="{{ user.userprofile.profile_image.url }}" alt=""></a>
            {% else %}
                <a href="{% url 'profile' %}"><img src="/media/default.png" alt=""></a>
            {% endif %}
        </div>
    </div>
</header>



    {% block body %}
    
    {% endblock body %}

    
    
    <div class="container">
    <footer>
        <div class="footer">
            <div class="f-left-side">
                <img src="{% static './images/Logo.png' %}" alt="">
                <p>
                    "On the other hand, we denounce with righteous indignation and dislike men who are so
                    beguiled
                    and demoralized by the charms of pleasure of the moment
                </p>
            </div>
            <div class="f-right-side">
                <div class="f-col-1">
                    <h5>Tastebite</h5>
                    <ul>
                        <li><a href="">About us</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Feedback</a></li>
                    </ul>
                </div>
                <div class="f-col-2">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Conditions</a></li>
                        <li><a href="">Cookies</a></li>
                        <li><a href="">Copyright</a></li>
                    </ul>
                </div>
                <div class="f-col-3">
                    <h5>Follow</h5>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </div>



            </div>
        </div>

        <div class="contact_div">
            <a href="{% url 'contact' %}">Contact us</a>
        </div>

        <hr>
        <div class="f-end-row">
            <span>© 2020 Tastebite - All rights reserved</span>
            <div class="social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
  
    </footer>
</div>
    <script src="{% static 'base.js' %}"></script>
</body>
</html>