{% extends "base.html" %}
{% load static %}
{% block body %}


    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'home_responsive.css' %}">
    


    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "warning" %}
                <div class="alert_warning">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert_success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <section class="home-page-section-1 container">
        <div class="img-area"><img src="static/images/homepage/home_img.png" alt=""></div>
        <div class="text-area">
            <div class="text">
                <span> <img src="static/images/feather-icon/trending-up.png" alt=""> 85% would make this again</span>
                <h6>Mighty Super Cheesecake</h6>
                <p>Look no further for a creamy and ultra smooth classic cheesecake recipe! no one can deny its simple
                    decadence.</p>
                <div class="icon"><img src="static/images/Icon.png"></div>
            </div>

        </div>

    </section>

    <section class="home-page-section-2 container">
        <div class="section-2-row1">
            <h5>Super Delicious</h5>
            <div class="cards">
                <div class="card">
                    <div class="photo"><img src="static/images/card-image/Image5.png" alt=""></div>
                    <div class="card-content">
                        <div class="star">
                            <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                            <img src="static/images/star.png" alt="">
                        </div>
                        <span>Spinach and Cheese Pasta</span>
                    </div>
                </div>

                <div class="card">
                    <div class="photo"> <img src="static/images/card-image/Image1.png" alt=""></div>
                    <div class="card-content">
                        <div class="star">
                            <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                            <img src="static/images/star.png" alt="">
                        </div>
                        <span>Fancy Glazed Donuts</span>
                    </div>
                </div>

                <div class="card">
                    <div class="photo"><img src="static/images/card-image/Image2.png" alt=""></div>
                    <div class="card-content">
                        <div class="star">
                                <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                            <img src="static/images/star.png" alt="">
                        </div>
                        <span>Mighty Cheesy Breakfast Burger</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="section-2-row2">
            <h5>Sweet Tooth</h5>
            <div class="cards">
                <div class="card">
                    <div class="photo"><img src="static/images/card-image/Image3.png" alt=""> </div>
                    <div class="card-content">
                        <div class="star">
                              <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                            <img src="static/images/star.png" alt="">
                        </div>
                        <span>Caramel Strawberry Milkshake</span>
                    </div>
                </div>

                <div class="card">
                    <div class="photo"> <img src="static/images/card-image/Image4.png" alt=""></div>
                    <div class="card-content">
                        <div class="star">
                               <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                            <img src="static/images/star.png" alt="">
                        </div>
                        <span>Chocolate and Banana Jar Cake</span>
                    </div>
                </div>

                <div class="card">
                    <div class="photo"><img src="static/images/card-image/Image5.png" alt=""></div>
                    <div class="card-content">
                        <div class="star">
                            <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                             <img src="static/images/star.png" alt="">
                            <img src="static/images/star.png" alt="">
                        </div>
                        <span>Berry Maddness Biscuts</span>
                    </div>
                </div>
            </div>
        </div>



    </section>

    <section class="home-page-section-3 container">
        <h5>Popular Categories</h5>
        <div class="cards">
            <div class="card">
                <div class="photo"><img src="static/images/card-image/c-image1.png" alt=""></div>
                <a href="{% url 'recipes_by_category' category_name='Pasta' %}">Pasta</a>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/card-image/c-image2.png" alt=""></div>
                <a href="{% url 'recipes_by_category' category_name='Pizza' %}">Pizza</a>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/card-image/c-image3.png" alt=""></div>
                <a href="{% url 'recipes_by_category' category_name='Vegan' %}">Vegan</a>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/card-image/c-image4.png" alt=""></div>
                <a href="{% url 'recipes_by_category' category_name='Desserts' %}">Desserts</a>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/card-image/c-image5.png" alt=""></div>
                <a href="{% url 'recipes_by_category' category_name='Smooties' %}">Smooties</a>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/card-image/c-image6.png" alt=""></div>
                <a href="{% url 'recipes_by_category' category_name='Breakfast' %}">Breakfast</a>
            </div>
        </div>
    </section>

    <section class="full-width-section ">
        <div class="text">
            <h1>Deliciousness to your inbox</h1>
            <p>Enjoy weekly hand picked recipes and recommendations</p>
            <div class="subscribe">
                <input id="subscribe__email" type="email" placeholder="Email Adress">
                <a id="btn_subscribe">Join</a>
            </div>
            <span>By joining our newsletter you agree to our Terms and Conditions</span>

        </div>


    </section>

    <section class="home-page-section-4 container">
        <h3>Hand-Picked Collections</h3>
        <div class="cards">
            <div class="card">
                <div class="photo"><img src="static/images/Collection/Image.png" alt=""></div>
                <div class="text">
                    <h6>Sushi Combos for your Next Party</h6>
                    <a>156 Recipes</a>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/Collection/Image1.png" alt=""></div>
                <div class="text">
                    <h6>Everything Bagel</h6>
                    <a>156 Recipes</a>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/Collection/Image2.png" alt=""></div>
                <div class="text">
                    <h6>Cook Like a Chef</h6>
                    <a>156 Recipes</a>
                </div>
            </div>

            <div class="card">
                <div class="photo"> <img src="static/images/Collection/Image3.png" alt=""></div>
                <div class="text">
                    <h6>Exquisite Dinner Recipe Ideas</h6>
                    <a>156 Recipes</a>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/Collection/Image4.png" alt=""></div>
                <div class="text">
                    <h6>The Ultimate Cookie Frenzy</h6>
                    <a>156 Recipes</a>
                </div>
            </div>

            <div class="card">
                <div class="photo"><img src="static/images/Collection/Image5.png" alt=""></div>
                <div class="text">
                    <h6>For the Love of Donuts</h6>
                    <a>156 Recipes</a>
                </div>
            </div>
        </div>
    </section>
    
<section class="home-page-section-5 container">
    <h5>Latest Recipes</h5>
    <div class="my_recipes">
        <ul id="recipeList">
            {% for recipe in recipes %}
            {% if recipe.image %}
            <li class="recipe-item" style="display: none;">
                <div class="recipe_foto_div">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.recipe_name }}">
                </div>
                <p><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.recipe_name }}</a></p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="section-5-btn">
        <a href="#" id="loadMore" class="l-M-btn">Load More</a>
    </div>
</section>

 <script src="{% static 'home.js' %}"></script>

    
{% endblock body %}
