{% extends "base.html" %}
{% load static %}
{% block body %}



    <link rel="stylesheet" href="{% static 'profile.css' %}">
   
    <section class="profile container">
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == "warning" %}
                <div class="alert_warning">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert_success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
       <div class="save">
            <h5>Profile</h5>
        
        </div>
        <div class="underline"></div>
        <div class="profile_settings">
            <div class="profile_save">
                <div class="photo">
                    {% if user.is_authenticated and user.userprofile.profile_image %}
                        <a href="{% url 'profile' %}"> <img src="{{user.userprofile.profile_image.url}}" alt="">
                    </a>
                       
                    {% else %}

                        <a href="{% url 'profile' %}"><img src="/media/default.png" alt=""></a>
                    
                    {% endif %}
                </div>
                <div class="delete_change">
                    <div class="btn_orange"><a href="{% url 'profile_image_update' %}" >Change photo</a></div>
                    <a href="{% url 'profile_image_delete' %}" class="btn_white">Delete</a>
                </div>
            </div>
        </div>

        <div class="form_area">
            <div class="form">
           <!-- profile.html -->
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <input type="text" id="username" name="username" value="{{ user.username }}" placeholder="Username">
                </div>
                <div class="form-row">
                    <input type="email" id="email" name="email" value="{{ user.email }}" placeholder="Email">
                </div>
                <div class="form-row">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit"class="orange_link">Change</button>
            </form>


            </div>

       
        </div>

        <div class="fav">
             <a href="{% url 'favorite_recipes' %}">Favorites</a>
        </div>

       


        <div class="connected_account">
            <h5>Connected Accounts</h5>
            <div class="facebook">
                <div class="left"> <img src="{% static 'images/Faccebook Logo.png' %}" alt="">
                    <p>Suzan Miller</p>
                </div>
                <div class="right">
                    <p>Disconnect</p>
                </div>
            </div>
            <div class="underline"></div>
            <div class="google">
                <div class="left"> <img src="{% static 'images/Google Logo.png' %}" alt="">
                    <p>Suzan@gmail.com</p>
                </div>

                <div class="right">
                    <p>Disconnect</p>
                </div>
            </div>
            <div class="underline"></div>

        </div>

        <div class="newsletter">
            <h5>Newsletter</h5>
            <div class="text">
                <p>You are currently subscribed to our newsletter</p>
                <a href="" class="white_btn">Unsubscribe</a>
            </div>
        </div>
        <div class="underline"></div>

 <div class="delete_sign_out">
        <div class="sign_out">
            <a href="{% url 'account:logout' %}"> <img src="{% static 'images/Sign Out.png' %}" alt=""></a>

        </div>

        <form id="delete-account-form" method="post" action="{% url 'account:delete_account' %}">
            {% csrf_token %}
            <button type="submit" class="delete" onclick="return confirmDelete()">Delete Account</button>
        </form>
        <script>
            function confirmDelete() {
                return confirm("Are you sure you want to delete your account? This action cannot be undone...");
            }
        </script>


        

    </div>
    </section>

    {% endblock body %}
8